[submodule "version"]
	path = version
	url = https://muon.ddns.net:3000/gambit/version.git
[submodule "package"]
	path = package
	url = https://muon.ddns.net:3000/gambit/package.git
[submodule "git-scheme"]
	path = git-scheme
	url = https://muon.ddns.net:3000/gambit/git-scheme.git
